.zth-canvas-toolbar {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 39px;
  border-bottom: 1px solid var(--border-color);
  .left,
  .right {
    display: flex;
    align-items: center;
  }
}
