.con-dropdown-wrap {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}
.event-item {
  display: flex;
  flex-direction: column;
  user-select: none;
  svg {
    color: var(--el-text-color-primary);
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin-left: 8px;
  }
  .event-item-header {
    background: var(--background);
    border: 1px solid var(--border-color);
    // border-left: none;
    // border-right: none;
    flex-direction: row;
    font-weight: 500;
    height: 30px;
    justify-content: space-between;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-toolbar {
      display: flex;
      span {
        margin-top: 6px;
      }
    }
  }
  .item-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: var(--el-bg-color);
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .75rem;
    box-sizing: border-box;
    font-size: 0.75rem;
    .action-item {
      background: var(--el-color-info-light-9);
      border: 1 solid transparent;
      box-sizing: border-box;
      border-radius: .25rem;
      margin-bottom: .75rem;
      padding: .5rem;
      width: 100%;
      .action-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-left {
          display: flex;
          align-items: center;
          svg {
            margin-top: 6px;
            margin-left: 0;
            margin-right: 6px;
            color: #8c8c8c;
          }
        }
      }
      .action-content {
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.25rem;
        margin-top: .25rem;
        max-width: 14rem;
        overflow: hidden;
        padding-left: 1.25rem;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}