.shell-container {
  position: relative;
  cursor: move;
  box-sizing: border-box;
  .indicator {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #000;

    &.first {
      top: 0;
      bottom: unset;
    }
  }
}
.zth-shell-outlined {
  outline: 1px dashed gray;
}
.zth-shell-padding-line {
  padding: 8px;
}
.zth-shell-select {
  position: relative;
  &::after {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    display: block;
    border: 1px solid #1677ff;
  } 
}